html.no-js
  head
    meta(charset='utf-8')
    title Borderly
    meta(name='description', content='Borderly app, laws between borders')
    meta(name='twitter:card', value='summary')
    meta(name='og:title', content='Borderly')
    meta(name='og:type', content='website')
    meta(name='og:url', content='http://borderly.herokuapp.com')
    meta(name='og:image', content='http://borderly.herokuapp.com/images/logo.png')
    meta(name='og:description', content='Borderly app, laws between borders')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    != css('vendor')
    != css('index')
    link(href='http://fonts.googleapis.com/css?family=Raleway:400,100,700', rel='stylesheet', type='text/css')
    != js('modernizr')
    script(src='//use.typekit.net/noh4tkj.js')
    script.
      try{Typekit.load();}catch(e){}
  body#top
    .container
      .header
        ul.nav.nav-pills.pull-right
          li
            a(href='#about') About
          li
            a(href='#team') Team
          li
            a(href='#docs') Docs
        h3.text-muted
          img(src='images/logo.png', alt='logo', height='36')
          |  Borderly
      .jumbotron
        h1.text-muted Welcome to Borderly
        img(src='images/logo.png', alt='logo', height='500')
        p.lead We show you the laws.
        p
          a.btn.btn-lg.btn-success(href='/app') Go to the app
      #about.row.marketing
        h3.text-muted.center About
        .col-lg-12
          h4 Borderly
          p
            | Borderly is an application that is in development right now that will tell you the laws when you cross a border, be it state or county.
          h4 The Laws
          p
            | Since we are small team of 3 high schoolers we don't have time to find out all the laws we will try and get the community to submit laws.
          h4 Legal
          p
            | As above we are a group of 3 Freshmen in High School who are broke so we won't be perfect until we have this going for about a year.
      hr
      #team.row.marketing
        h3.text-muted.center Team
        .col-lg-12
          h4
            | Alex 
            span.desc Lead Developer
          p
            | Alex is the lead Developer so he does the frontend and backend development. He is a part time web designer in his free time.
          h4
            | David 
            span.desc Backend Developer
          p
            | David is the main backend developer. Right now he is learning C so he can become fluent in it.
          h4
            | Chris 
            span.desc Backend Developer
          p
            | Chris is one of the backend designers development. In his free time he codes js and does soccer.
      hr
      #docs.row.marketing
        h3.text-muted.center Docs
        .col-lg-12
          pre <span class="http">GET</span> /
          p This page.
          pre <span class="http">GET</span> /api
          p The root of the api
          pre <span class="http">GET</span> /api/laws
          p An alphabetical listing of the laws.
          p with optional URL param limit, default to 10.
      a.scrollup(href='#top')
        span.glyphicon.glyphicon-arrow-up
      .footer
        p
          span.glyphicon.glyphicon-heart
          |  from the Borderly team

    != js('vendor.js')
    != js('index.js')
