//= require normalize
//= require picnic
/*! borderly app css */

body
  font-family sans-serif

#beg
  margin-top 60px

p
  color #55acee

.id, .state, .section, .title, .county, .law
  color #6762a6
