//= require picnic
/* borderly app css */

red = hsla(5, 70%, 54%, 1)
blue = hsla(218, 89%, 61%, 1)

body
  font-family sans-serif

#beg
  margin-top 60px

.law
  transition all 0.3s
  &:hover
    background-color darken(white, 15%)
  a
    color red
    &:hover
      text-decoration none
      border-bottom dotted 1px red

.data
  color blue
