extends layout

block includes

block content
  p.id
    | id:
    = ' ' + _id
  p.state
    | state:
    = ' ' + state
  p.section
    | section:
    = ' ' + section
  p.title
    | title:
    = ' ' + title
  p.county
    | county:
    = ' ' +  county
  p.law
    | law:
    = ' ' + law
